body
{
  font-family: sans-serif;
  background-color: azure;
}

img 
{
  width: 300px;
  border: 2px solid rgb(140, 140, 224);
  padding: 2px;
  margin-bottom: 10px;
}

#persona
{
  width: 85px;
  margin: 10px 0px 0px 0px;
  text-decoration: none;
}

p
{
 font-size: 17px;
}