/* ******************************
*  Stylesheet for Screened Devices
*  Created by: Vladlen Mykhailovskyi
*  
*  1.  Includes (fonts and supplementary stylesheets)
*  1.1 Normalize
*  1.2 Google fonts
*
*  2.  General Styles (for all pages and devices)
*
*  3.  Mobile First (styles specific to small screens)
*
*  4.  Large Screen Styles (Media Queries begin here)
*
* ****************************** */

/* 1.  Includes (fonts and supplementary stylesheets) */
/* 1.1 Normalize Import */  
@import url('normalize.css');

/*1.2 The font was imported from google fonts */
@import url('https://fonts.googleapis.com/css?family=Sansita&display=swap');

/* 2. This is general styles that will be applyed for all devises */
html {
    box-sizing: border-box;
   }
   
   *, *:before, *:after{
    box-sizing: inherit;
   }

   body{
    font-family: helvetica, verdana, sans-serif;
    font-size: 20px;
  }

  h1,h2,h3,h4,h5,h6 {
    font-family: sansita, Eurostyle, sans-serif;
  }

  .box{
    background-color: rgba(200, 200, 200, 0.6);
    margin: .2em auto;
    border: 1px solid;
    border-radius: 15px;
    text-align: center;
  }

  nav ul li { 
    display: inline-block; 
    list-style: none; 
    margin-right: 15px;
  }

  #speed{
    z-index: 1;
    margin-top: -100px;
    margin-bottom: 100px;
  }

  #curWeather{
      background-size: cover;
      background-image: url(/weather/weather-site-images/rain.jpg);
  }

  footer{
    margin-top: -15px;;
    margin-bottom: 2.3em;
    background-color: #0e89d5;
   }

   #site-brand {
    font-size: 1.5em;
    font-weight: 600;
    margin: 0;
    margin-top: 5px;
  }

  section ul li{
    display: inline-block; 
    list-style: none; 

  }

   #gusts{
    margin-top: -17px;
  
   }

  a{
   text-decoration: none;
   color: white;
   display: block;
   padding: .5em;
 }

  #city{
      margin-left: 5px;
      margin-bottom: 12px;
      font-size: 1.5em;
  }

  #page-header{
    height: 55px;
    display: flex;
    background-color: #0e89d5;
    font-family: Helvetica;
    margin-bottom: -15px;
  }

  #logo{

    width: 50px ;
    height: 50px;
    float:left; 
    margin-top:auto;
    margin-bottom: auto;
    margin-right: 10px;
    }

   #max{
     color: red;
     padding-right: 7px;
   }

   #min{
     color: blue;
     padding-left: 7px;
   }

   #curTemp{
     font-weight: 200;
     font-size: 4em;
     line-height: 5px;
   }

   /* 3. These are styles that will be applied for mobile devises to make our page look good on mobile  */
 

   nav {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #0e89d5;
    width: 100vw;
    height: auto;
    color: white;
    font-size: 10px;
    z-index: 1;
    
  }

   #scroll{
    overflow: auto;
    white-space: nowrap;
   }

   #address{
    margin-left: -35px;
    line-height: 4px; 
    font-size: 10px;   
   }

   #rain {
    max-width: 250px;
    opacity: 0.75;
   }
   
/* These are going to be styles for large screen */
    
